/* Breaking up the CSS to make it easier to work on. Not sure if micro.blog will import this nicely, though. */
@import url('./default-theme-style.css');
@import url('./theme-variables.css');
@import url('./theme-fonts.css');
@import url('./theme-text-styling.css');

/** Basic styling */

hr {
	margin: 2em 0;
	border: none;
	text-align: center;
}

hr::before {
	font-size: 3em;
	content: "∴";
	display: block;
	color: var(--rev-bg);
}

.feature-heading {
  font-size: 3em;
}

/** Links */
a { color: var(--link); text-decoration: none; }
a:visited { color: var(--link_visited) }
a:hover { color: var(--link); text-decoration: underline; }

/* Button */

a .simon-button {
	color: var(--text);
	text-decoration: none;
}

a:hover, .simon-button {
	color: var(--text);
	text-decoration: none;
}

/* width-styling */
.wrapper > * { 
	--width-max: var(--width-content);
    margin-inline: auto;
    max-inline-size: min(calc(100% - var(--width-site-gutter) * 2), var(--width-max));

}

.wrapper > .medium-width-content {
    --width-max: var(--width-content-medium);
}

.wrapper > .large-width-content {
    --width-max: var(--width-content-large);
}

.wrapper > .full-width-content {
    max-inline-size: none;
}

/** Clearfix 
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }*/


/** Site header */
.site-header { 
  background-color: var(--simon-yellow);
  min-height: 80px; 
  position: relative;
  padding: 2em 2em; }

.site-icon-and-name { 
  margin: 0 0 10px 0; 
  display: inline-flex;
  gap: 1em;
  align-items: center;
  color: var(--text); 
}

.site-nav { 
    padding: 1em 0em 0em 1em;

}

.site-title { font-size: var(--site-title-size); line-height: 56px; letter-spacing: -1px; }
.site-title, .site-title:visited { color: var(--text); }

/* Site footer */
.site-footer { 
	padding: 30px 0; 
	font-size: 12px; 
	text-align: left; 
	border-top: 15px solid var(--alert-border);
}

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Homepage Content */
.home-intro {
	display: grid;
	grid-template-columns: 33.33% auto;
	flex-wrap: nowrap;
	gap: 20px;
	align-items: center;
	padding-top: .5em;
	padding-bottom: 2em;
	max-width: fit-content;
}

.home-intro-text {
  margin: 1em;
  
}

.simon-button {
	background-color: var(--simon-yellow);
	width: fit-content;
	height: auto;
	padding: .7em;
}	

.simon-button h3 {
	margin-bottom: 0;
}

.simon-button:hover {
	background-color: var(--code);
	text-decoration: none;
}

/* Recent Posts Section - Homepage */

.recent-posts-bg {
    background-color: var(--rev-bg);
	padding-bottom: 1em;
}

.recent-posts {
  padding-top: 1em;
  color: inherit;
  /* max-width: 1200px; */
}

.recent-posts a {
  color: var(--rev-link);
}

.feed-container {
  display: grid;
  grid-template-columns: 33.33% auto;
  gap: 2em;
  align-items: start;
}

.feed-preview {
  color: inherit;
}

.feed-preview a {
	color: var(--link);
}

.post-container
{
  background-color: var(--card_bg);
  padding: 20px;
  border: var(--card_stroke);
  border-radius: var(--rounded_corners);
}

.post-preview-title a {
	font-size: 1.25em;
	color: var(--text);
}

.post-date {
	font-size: 14px;
	color: var(--accent2);
	padding-bottom: 1em;
}

.post-text {
	font-size: inherit;
}

/** Responsive styling for homepage */

@media screen and (max-width: 650px) {
	.home-intro {
		display: grid;
		grid-template-columns: auto;
	}

	.home-intro-text {
		max-width: none;
	}

	.feed-container {
		display: grid;
		grid-template-columns: auto;
	}
}

/* Custom decorations and styling elements */

.divider-line {
	margin-top: 50px;
	padding: 1em;
	border-top: var(--border_stroke) var(--rev-link);
}

.two-col-grid {
	display: grid;
	gap: 50px;
	grid-template-columns: auto auto;
	justify-content: center;
	
}

.archive-post-page {
	padding-top: 2em;
	padding-bottom: 2em;
}

@media screen and (max-width: 650px) {
	.two-col-grid {
		display: grid;
		grid-template-columns: auto;
		gap: 0;
	}
}

/* trying to set up table styling for the resources page */
table {
    max-width: 80em;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
    
}

thead th:nth-child(1) {
    width: 30%;
    border-right: var(--border_stroke);
    border-right-color: var(--code);
}

thead
{
    padding: 20px;
    text-align: center;
    border: var(--border_stroke);
    border-color: var(--code);
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--code);
	color: #000000;
}

td
 {
    padding: 20px;
    border: var(--border_stroke);
    border-color: var(--code);
}

td:nth-child(1)::first-line
{
    font-weight: bold;
}

/* setting up cards for link page */
.container {
	column-width: 250px;
	column-gap: 20px;
}

.card {
	break-inside: avoid;
	border: var(--card_stroke);
	border-radius: var(--rounded_corners);
	padding: 2em 2em 1em;
	margin: 0 0 1em 0;
	text-align: left;
	font-size: 18px;
	background-color: var(--card_bg);
	border-color: var(--card_outline);
	color: var(--card_text);

	/* drop-shadow( <length> <length> <blur> <color> ) */
	filter: drop-shadow(0px 4px 2px #00000020);

	/*applying easing when returning from hover state*/
	transition-timing-function: ease-in;
	transition: 0.2s;

}
.card:hover {
	transition-timing-function: ease-out;
	transition: 0.2s;
	transform: translateY(-5px);
	/* transform: rotate(0.5deg); */
	filter: drop-shadow(0px 8px 6px #00000020);
}
.link_description {
	font-size: 14px;
}

.card_avatar {
	width: 50px;
	height: 50px;
	border-radius: var(--rounded_corners);
	margin-bottom: 5px;
}

/* Smaller cards for temporary or less important links */
.link_card {
	display: grid;
	grid-template-columns: 10% auto;
	break-inside: avoid;
	border: var(--card_stroke);
	border-radius: var(--rounded_corners);
	padding: 1em 1em 0em;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--card_bg);
	border-color: var(--card_outline);
	color: var(--card_text);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	
	/* drop-shadow( <length> <length> <blur> <color> ) */
	filter: drop-shadow(0px 4px 2px #00000020);

	/*applying easing when returning from hover state*/
	transition-timing-function: ease-in;
	transition: 0.2s;
}

.link_card:hover {
	transition-timing-function: ease-out;
	transition: 0.2s;
	transform: translateY(-5px);
	transform: rotate(0.5deg);
	filter: drop-shadow(0px 8px 6px #00000020);
	background-color: var(--cardbg_hover);
}