/* Breaking up the CSS to make it easier to work on. Not sure if micro.blog will import this nicely, though. */
@import url('backup/default-theme-style.css');
@import url('./theme-variables.css');
@import url('typography/theme-fonts.css');
@import url('typography/theme-text-styling.css');
@import url('components/footer.css');
@import url('components/links-page.css');
@import url('components/about-page.css');

/** Basic styling */

#page-container {
    position: relative;
    min-height: 85vh;
}

/* width-styling */
.wrapper > * { 
	--width-max: var(--width-content);
    margin-inline: auto;
    max-inline-size: min(calc(100% - var(--width-site-gutter) * 2), var(--width-max));

}

.wrapper > .medium-width-content {
    --width-max: var(--width-content-medium);
}

.wrapper > .large-width-content {
    --width-max: var(--width-content-large);
}

.wrapper > .full-width-content {
    max-inline-size: none;
}

hr {
	margin: 2em 0;
	border: none;
	text-align: center;
}

hr::before {
	font-size: 3em;
	content: "∴";
	display: block;
	color: var(--rev-bg);
}

.feature-heading {
  font-size: 3em;
}

/** Links */
p a { color: var(--link); text-decoration: none; }
p a:visited { color: var(--link_visited) }
p a:hover { color: var(--link); text-decoration: underline; }

/* Button */

.simon-button a {
	color: var(--text);
	text-decoration: none;
}

.simon-button a:visited {
	color: var(--text);
}

.simon-button a:hover {
	color: var(--text);
	text-decoration: none;
}



/** Clearfix 
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }*/


/** Site header */
.site-header { 
 	background-color: var(--simon-yellow);
  	min-height: 100px; 
  	position: relative;
  	padding: 2em 2em; 
	background-size: cover;
}

.site-header a {
	text-decoration: none;
}

.site-header a:hover {
	text-decoration: underline;
}

.site-icon-and-name { 
  margin: 0 0 10px 0; 
  display: inline-flex;
  gap: 1em;
  align-items: center;
  color: var(--text); 
}

/* Site Navigation */

.site-nav { 
    padding: 1em 0em 0em 0.125em;

}

.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: var(--text); line-height: 1.5; }
.site-nav .page-link:not(:first-child) { margin-left: 20px; }
@media screen and (max-width: 600px) { 
  .site-nav { 
    position: absolute; 
    top: 20px; 
    right: 20px;
    text-align: right; 
	padding: 0.3em 0.5em 0em 0.5em;
	background-color: var(--background); 
    border: 1px solid var(--code); 
    border-radius: var(--rounded_corners); 
  }
  .site-nav .menu-icon { 
    display: block; 
    float: right; 
    width: 20px; 
    height: 20px; 
    line-height: 0; 
    padding: 0px; 
    text-align: center; 
  }
  
  /* SVG styling for the old menu icon, replaced width FA icon.
  
  .site-nav .menu-icon > svg { width: 18px; height: 15px; }
  .site-nav .menu-icon > svg path { fill: var(--code); } 
  
  */
  
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { 
	display: block; 
	padding: 5px;
	}
	
  .site-nav .page-link { display: block; padding: 5px 10px; } 
}

.site-title { font-size: var(--site-title-size); line-height: 56px; letter-spacing: -1px; }
.site-title, .site-title:visited { color: var(--text); }

/** Homepage Content */
.home-intro {
	display: grid;
	grid-template-columns: 25% 50%;
	flex-wrap: nowrap;
	gap: 20px;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
	max-width: fit-content;
}

.home-intro-text {
  margin: 1em;
  
}

.simon-button {
	background-color: var(--simon-yellow);
	width: fit-content;
	height: auto;
	padding: .7em;
	border-radius: var(--rounded_corners);
	border: solid 2px var(--code);
}	

.simon-button h3 {
	margin-bottom: 0;
}

.simon-button:hover {
	background-color: var(--code);
	text-decoration: none;
}

/* Recent Posts Section - Homepage */

.recent-posts-bg {
    background-color: var(--background);
	padding-bottom: 1em;
}

.recent-posts {
  padding-top: 1em;
  color: inherit;
  /* max-width: 1200px; */
}

.recent-posts a {
  color: var(--rev-link);
}

.feed-container {
  display: grid;
  grid-template-columns: 75% auto;
  gap: 2em;
  align-items: start;
}

.feed-preview {
  color: inherit;
}

.feed-preview a {
	color: var(--link);
}

.post-container
{
  background-color: var(--card_bg);
  padding: 20px;
  border: var(--card_stroke);
  border-radius: var(--rounded_corners);
}

.post-preview-title a {
	font-size: 1.25em;
	color: var(--text);
	text-decoration: none;
}

.post-date {
	font-size: 14px;
	color: var(--accent2);
	padding-bottom: 1em;
}

.post-date a {
	text-decoration: none;
}

.post-text {
	font-size: inherit;
}

/** Responsive styling for homepage */

@media screen and (max-width: 650px) {
	.home-intro {
		display: grid;
		grid-template-columns: auto;
	}

	.home-intro-text {
		max-width: none;
	}

	.feed-container {
		display: grid;
		grid-template-columns: auto;
	}
}

/* Custom decorations and styling elements */

.divider-line {
	margin-top: 50px;
	padding: 1em;
	border-top: var(--border_stroke) var(--rev-link);
}

.two-col-grid {
	display: grid;
	gap: 50px;
	grid-template-columns: auto auto;
	justify-content: center;
	
}

.archive-post-page {
	padding-top: 2em;
	padding-bottom: 2em;
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8em;
	justify-content: start;
	padding-top: 1em;
}

.archive-tags {
	font-family: 'drafting-mono';
	font-size: 12px;
	color: var(--card_text);
	background-color: var(--cardbg_hover);
	padding: 0.4em 0.8em;
	border-radius: var(--rounded_corners);
	width: max-content;
	text-transform: lowercase;
}

.archive-tags a {
	color: inherit;
}

.archive-tags a:visited {
	color: inherit;
}

@media screen and (max-width: 650px) {
	.two-col-grid {
		display: grid;
		grid-template-columns: auto;
		gap: 0;
	}
}

/* trying to set up table styling for the resources page */
table {
    max-width: 80em;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
    
}

thead th:nth-child(1) {
    width: 30%;
    border-right: var(--border_stroke);
    border-right-color: var(--code);
}

thead
{
    padding: 20px;
    text-align: center;
    border: var(--border_stroke);
    border-color: var(--code);
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--code);
	color: #000000;
}

td
 {
    padding: 20px;
    border: var(--border_stroke);
    border-color: var(--code);
}

td:nth-child(1)::first-line
{
    font-weight: bold;
}

/* Portfolio Styling */

.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: masonry;
	gap: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 2em 0em 2em 0em;
	width: fit-content;
}

@media screen and (max-width: 1100px) {
	.portfolio-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr); 
		gap: 1em;
	}
}

@media screen and (max-width: 750px) {
	.portfolio-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr); 
		gap: 1em;
		
	}
}

.portfolio-entry {
	width: fit-content;
	height: fit-content;
}

.portfolio-frame {
	width: 100%;
	height: auto;
	overflow: hidden;
	max-width: 500px;
	border-radius: 15px; 
}

.portfolio-image {
	height: 100%;
	width: auto;
	object-fit: cover;
	object-position: center;
	transition-timing-function: ease-out;
	transition: 0.2s;
}

.portfolio-frame:hover .portfolio-image {
	transition-timing-function: ease-out;
	transition: 0.2s;
	scale: 105%;
}

.portfolio-title {
	font-family: 'drafting-mono', Courier, monospace;
	font-size: 12px;
}