{{ define "main" }}

	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
		<div class="archive_categories archive-post-page" style="border-bottom: 1px solid lightgray; padding-bottom: 15px; margin-bottom: 30px;">
			{{ range $list }}
				<p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
			{{ end }}
		</div>
	{{ end }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	<div class="h-feed">
		{{ range $list }}
			<div style="font-family: 'drafting-mono'; font-size: 14px;">
				<p class="h-entry">
					<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02, 15:04" }}</time></a></p>
				<p>
			</div>
			{{ if .Title }}
			<span class="p-name"><h3>{{ .Title }}</h3></span> 
				{{ end }}
				<span class="p-summary">{{ .Summary | truncate 300 }}</span><a href="{{ .Permalink }}"> →</a>
			</p>
			<div class="divider-line"></div>
			
		{{ end }}
	</div>

{{ end }}