{{ define "main" }}

<!-- About Page -->

<div class="medium-width content">
    <div class="about-wrapper">
        <div class ="about-bio">
            <div class="about-headshot">
                <img src="/assets/Images/Simon-Headshot-2025_byJonahAtkins_web.jpg">
                <p class="photo-caption" style="margin-bottom: 0;"> Photo by <a href="https://www.jonahatkins.net/" target="_blank" alt="Link to Jonah Atkins' website." title="Jonah Atkins Photography">
                Jonah Atkins</a></p>
            </div>
            <div class="about-bio-text">
                <h1>About Me</h1>
                <p>
                    I'm Simon Peng! I currently work in <a href="https://musemarketinggroup.ca/" target="_blank" alt="Muse Marketing Group Website" title="Link to Muse Marketing Group">marketing</a>, making brands (and many other things) for people and companies that want to speak to who they <em>really</em> are and what they <em>actually</em> believe.
                </p>
                <p>
                    I'm a teacher at heart. I taught graphic design and illustration at Mohawk College and now continue bringing an educator's perspective to all the work I do.
                </p>
                <p>
                    I believe that Everyone's Creative. My aim is to lift the veil on the creative process, to show people that there's really no such thing as "natural talent" and that artistic "geniuses" just had lots of opportunities and are good at hiding their mistakes.
                </p>

                <h3>Where to Find Me</h3>

                <p>
                    You've found me! This site is my main blog and I share basically everything I do here.
                    If you'd like to get in touch, you can send me an email at <a href="mailto:hello@simonpeng.net" target="_blank" alt="Email link for hello@simonpeng.net" title="Email hello@simonpeng.net">hello@simonpeng.net</a> or find me on socials.
                </p>

                <p>You can also check out <a href="/links" target="_self" alt="Link to simonpeng.net/links" title="all my links">my links page</a> to find social platforms I use, and anything else I'm linking there right now.</p>
                
            </div>
        </div>
        <div>
            <h3 style="padding-bottom: 0.5em;">📖 Right Now I'm Reading...</h4>
            <div class="booklist">
                {{ range .Site.Data.bookshelves.currentlyreading }}
                <div class="book-entry">
                    <a href="https://micro.blog/books/{{ .isbn }}" target="_blank" title="{{ .title }} by {{ .author }}" alt="Link to {{ .title }} by {{ .author }}">
                        <img class="book-cover" src="{{ .cover_url }}">
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}