<div class="home-intro">
<!-- Bio photo -->
    <div>
        <img class="simon-headshot" src="/assets/Images/Simon-Headshot-2025_byJonahAtkins_web.jpg" alt="Simon Peng - Headshot by Jonah Atkins">
        <p class="photo-caption"> Photo by <a href="https://www.jonahatkins.net/" target="_blank" alt="Link to Jonah Atkins' website." title="Jonah Atkins Photography">
            Jonah Atkins</a></p>
    </div>
<!-- Bio -->
<div class="home-intro-text">

    <h1 class="feature-heading">Hi, I'm Simon!</h1>

    <p>{{ .Site.Params.itunes_description | safeHTML }}</p>
    
    <div class="simon-button">
        <a href="/about" target="_self"><h3>More About Me</h3></a>
    </div>
</div>
