<footer class="site-footer">
  <div class="wrapper">
    <div class="large-width-content two-col-grid">
      <div>
        <p>Hosted by <a href="https://micro.blog">Micro.blog</a></p>
        <p class="text">{{ .Site.Params.description | safeHTML }}</p>
        <p>You can see the source code for this theme <a href="https://github.com/RobotFanClub/simon-custom" target="_blank" alt="Link to theme on Github">on Github.</a></p>
      </div>
      <div>
        <p>This site uses the font families 
          <a href="https://www.brailleinstitute.org/freefont/" target="_blank" alt="Atkinson Hyperlegible font on the Braille Institute's website." title="Atkinson Hyperlegible on the Braille Institute's Website">
            Atkinson Hyperlegible,</a> 
          <a href="https://github.com/anrt-type/ANRT-Baskervville" target="_blank" alt="ANRT-Baskervville Github Page" title="ANRT-Baskervville Github Page">
            ANRT-Baskervville,</a>
          <a href="https://indestructibletype.com/Drafting/" target="_blank" alt="Drafting* Mono from Indestructible Type" title="Drafting* Mono from Indestructible Type">
            and Drafting* Mono.</a> 
          </p> 
        <p>This site <em>used to</em> use the theme <a href="https://tiny.micro.blog">Tiny Theme</a> by <a href="https://www.mattlangford.com">Matt Langford</a>.
        <br>Some elements of that theme were used in my custom theme to preserve functionality. 
        <br>You should check out Tiny Theme and support Matt if you borrow any code from my theme.</p>
      </div>
    </div>
  </div>
</footer>
