<footer class="site-footer">
  <div class="wrapper">
    <div>
      <p>Hosted by <a href="https://micro.blog">Micro.blog</a></p>
      <p class="text">{{ .Site.Params.description | safeHTML }}</p>
      <p>This site uses the font family <a href="https://www.brailleinstitute.org/freefont/" target="_blank" alt="Atkinson Hyperlegible font on the Braille Institute's website.">Atkinson Hyperlegible.</a> </p> 
      <p>This site <em>used to</em> use the theme <a href="https://tiny.micro.blog">Tiny Theme</a> by <a href="https://www.mattlangford.com">Matt Langford</a>.
      <br>Some elements of that theme were used in my custom theme to preserve functionality. You should check out Tiny Theme and support Matt if you borrow any code from my theme.</p>
      <p>You can see the source code for this theme <a href="https://github.com/RobotFanClub/simon-custom" target="_blank" alt="Link to theme on Github">on Github.</a></p>
    </div>
  </div>
</footer>
