<header class="site-header wrapper">

  <div class="large-width-content">
    <div class="site-icon-and-name">
      <a href="/"><img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo" class="profile_photo u-photo" width="70" height="70"></a>  
      <a class="site-title" href="/">{{ .Site.Title }}</a>
    </div>
    <div>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa-solid fa-caret-down" style="color: var(--simon-yellow-dark);"></i>
      </a>

      <div class="trigger">
		{{ range .Site.Menus.main }}
			{{ if .Page.Params.redirect_url }}
				<a class="page-link" href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
			{{ else }}
				<a class="page-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
			{{ end }}
		{{ end }}
      </div>
    </nav>
    </div>

  </div>

</header>
