<h2 style="padding-top: 1em; padding-bottom: 0.5em;">
    <a style="font-style: italic; color: var(--text);">More</a> Links!
</h2>

<div class="link_card">
    <div>
        <i 
        class="fa-solid fa-file-image fa-lg" style="color: var(--link);">
        </i>
    </div>
    <p>
        <a href="https://giphy.com/robotfanclub" target="_blank" alt="Link to Robot Fan Club on GIPHY.com" title="Robot Fan Club GIPHY Page">
                Check out my GIPHY page, I guess?
        </a>
    </p>
</div>
        
<div class="link_card">
    <div>
        <i 
        class="fa-solid fa-palette fa-lg" style="color: var(--link);">
        </i>
    </div>
    <p>
        <a href="https://simonporterpeng.com/" target="_blank" alt="Link to simonporterpeng.com on Adobe Portfolio" title="Link to my Adobe Portfolio">
                I'm planning on deleting this portfolio, so check it out while you can!
        </a>
    </p>
</div>