<div class="main-link-title">
    <h3>
        <i class="fa-solid fa-heart fa-1x" style="color: var(--link);"></i>
        My Socials
    </h3>
</div>

<div class="socials-grid">
    
    <div class="card">
        <a href="https://mstdn.ca/@RobotFanClub" target="_blank" alt="Link to @RobotFanClub on Mastodon" title="My Mastodon Profile">
            🐘 Mastodon
        </a>
    </div>            
    
    <div class="card">
        <a href="https://bsky.app/profile/simonpeng.net" target="_blank" alt="Link to simonpeng.net on Bluesky" title="My Bluesky Profile">
            🦋 Bluesky
        </a>
    </div>
    
    <div class="card">
        <a href="https://substack.com/@simonporterpeng" target="_blank" alt="Link to @simonporterpeng on Substack" title="My Substack Profile">
            🔖 Substack
        </a>
    </div>            
    
    <div class="card">
        <a href="https://www.instagram.com/simonporterpeng" target="_blank" alt="Link to @simonporterpeng on Instagram" title="My Instagram Profile">
            📷 Instagram
        </a>
    </div>

</div>