{{ define "main" }}

<div class="medium-width-content">
  
  {{ partial "bio_intro.html" . }}

</div>

<!-- Start of "recent posts" feed -->

<div class="recent-posts-bg full-width-content">
  <div class="recent-posts medium-width-content">
    <h2 class="feature-heading">Latest Posts</h2>
    <div class="feed-container">
      <div class="feed-preview">
        <ul class="post-list">

        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 5) }}
        {{ range $paginator.Pages  }}

            <li class="post-container">

            {{ if .Title }}

              <h1 class="post-preview-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            
            {{ end }}

              <div class="post-date">
                <a href="{{ .Permalink }}" class="u-url"><span><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span></a>
              </div>

            <!--  This "read more" feature is pulled from Matt Langford's Tiny Theme, 
                  which my site used to use and many of my posts contain. 
                  Credit to Matt, who you should support (with money ;) if you pull this code from my theme. -->

            {{ if in .RawContent "<!--more-->" }}

              <div class="p-summary">
                  {{ $splitContents := split .RawContent "<!--more-->" }}
                  {{ $summary := index $splitContents 0 }}
                  {{ $summary := replaceRE "\\[\\^.*?\\]" "" $summary }}
                  {{ $summary := replaceRE "\\n\\[\\^.*?\\]:.*" "" $summary }}
                  {{ $summary | markdownify }}
                  <p><a href="{{ .Permalink }}">
                      Read More →
                  </a></p>
              </div>

              {{ else }}

              <div class="post-text">
                {{ .Content }}
              </div>

              {{ end }}
              
            </li>

          {{ end }}

        </ul>

        <div class="simon-button">
              <a href="/archive" target="_blank" title="View full post archive." alt="Link to Post Archive"><h3>More Posts</h3></a>
        </div>

      </div>
      <div  style="margin-top: 20px;">
        <h5>Following Me</h5>
        <p>
          I'm a proud <a href="https://www.everyonescreative.net/p/why-every-artist-needs-to-be-a-luddite" target="_blank" alt="Everyone's Creative: Embrace Luddism">luddite</a> 
          and I'm doing my best to move away from the tech-monopoly platforms. I try to follow the <a href="https://indieweb.org/POSSE" target="_blank" alt="POSSE page on IndieWeb.org">POSSE</a> 
          system and keep everything I post originated from or cross-posted here.
        </p>
        <p>Other than this site, you can find all the places to follow me <a href="/links">on my links page.</a></p>
      </div>
    </div> 
  </div>
</div>

{{ end }}
